<!DOCTYPE html>
<html class="no-js">
  <head>
  	<meta charset="utf-8">
  	<title>About | Daniel Beard</title>
  	<!-- TODODB: Implement -->
  	<!-- <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.theme.description }}{% endif %}"> -->
  	<meta name="viewport" content="width=device-width, initial-scale=1">

  	<!-- CSS -->
  	<link rel="stylesheet" href="../css/main.css">
  	<link rel="stylesheet" href="../css/syntax.css">

  	<!-- TODODB: Implement -->
  	<!--Favicon-->
  	<!-- <link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon"> -->

  	<!-- TODODB: Implement -->
  	<!-- Canonical -->
  	<!-- <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"> -->

  	<!-- TODODB: Implement? -->
  	<!-- RSS -->
  	<!-- <link rel="alternate" type="application/atom+xml" title="{{ site.theme.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" /> -->

  	<!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  </head>  <body>
    <header class="site-header">
      <div class="branding">
              <img class="avatar" src="../img/avatar.jpg" alt=""/>
            <h1 class="site-title">
          <a href="../posts">Daniel Beard</a>
        </h1>
      </div>
      <nav class="site-nav">
        <ul>
                  <li>
              <a class="page-link" href="../pages/about.html">
                About
              </a>
            </li>
                    
    	  <!-- TODODB: Implement? -->
      <!-- {% if site.theme.rss %}
      <li>
      	<a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" title="{{ site.theme.str_rss_follow }}">
      		<i class="fa fa-fw fa-rss"></i>
      	</a>
      </li>
      {% endif %} -->

      <li>
      	<a href="https://github.com/daniel-beard" title="Follow on GitHub">
          <i class="fab fa-github"></i>
      	</a>
      </li>

      <li>
      	<a href="https://www.linkedin.com/in/daniel-beard-17577134/" title="Follow on LinkedIn">
      		<i class="fab fa-fw fa-linkedin"></i>
      	</a>
      </li>

      <li>
      	<a href="https://stackoverflow.com/users/1144632/danielbeard" title="Follow on Stack Exchange">
      		<i class="fab fa-fw fa-stack-exchange"></i>
      	</a>
      </li>
        </ul>
      </nav>
    </header>    <div class="content">
      <article class="feature-image">
        <header style="background-image: url('../img/about_header.jpg')">
          <h1 class="title">About</h1>
        </header>
        <section class="post-content"><p>Hi, I'm Daniel. I'm an iOS
engineer. I graduated from Edith Cowan University in Perth, Australia
with a B.CompSci / Games Programming and completed my honours degree.
I've written apps, simulations, visualizations, and games.</p>
<h2 id="work">Work</h2>
<p>I worked as an intern at iVec from Nov '09 to Feb '10 in conjunction
with the University of Western Australia and the International Centre
for Radio Astronomy Research.</p>
<p>I worked for Australian Finance Group for a year and a half as the
iOS Technical Lead.</p>
<p>I worked at Groupon for 9.5 years as a Staff iOS Engineer.</p>
<p>I am currently employed at Splitwise as a Staff iOS Engineer.</p>
<h2 id="other">Other</h2>
<p>I enjoy solving Project Euler problems in Julia in my spare time:</p>
<figure>
<img src="https://projecteuler.net/profile/danielhasabeard.png"
alt="ProjectEuler" />
<figcaption aria-hidden="true">ProjectEuler</figcaption>
</figure>
<p>Sometimes I answer questions on StackOverflow</p>
<figure>
<img src="http://stackoverflow.com/users/flair/1144632.png?theme=clean"
alt="Image" />
<figcaption aria-hidden="true">Image</figcaption>
</figure>
<p>And contributing to / creating open source projects on <a
href="https://github.com/daniel-beard">Github</a></p></section>
      </article>
    </div>
    <footer class="site-footer">
    	<p class="text">Blag - Powered by Haskell and Pandoc</p>
    </footer>
  </body>
</html>
