<!DOCTYPE html>
<html class="no-js">
  <head>
  	<meta charset="utf-8">
  	<title>Page 2 | Daniel Beard</title>
  	<!-- TODODB: Implement -->
  	<!-- <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.theme.description }}{% endif %}"> -->
  	<meta name="viewport" content="width=device-width, initial-scale=1">

  	<!-- CSS -->
  	<link rel="stylesheet" href="../css/main.css">
  	<link rel="stylesheet" href="../css/syntax.css">

  	<!-- TODODB: Implement -->
  	<!--Favicon-->
  	<!-- <link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon"> -->

  	<!-- TODODB: Implement -->
  	<!-- Canonical -->
  	<!-- <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"> -->

  	<!-- TODODB: Implement? -->
  	<!-- RSS -->
  	<!-- <link rel="alternate" type="application/atom+xml" title="{{ site.theme.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" /> -->

  	<!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  </head>  <body>
    <header class="site-header">
      <div class="branding">
              <img class="avatar" src="../img/avatar.jpg" alt=""/>
            <h1 class="site-title">
          <a href="../posts">Daniel Beard</a>
        </h1>
      </div>
      <nav class="site-nav">
        <ul>
                  <li>
              <a class="page-link" href="../pages/about.html">
                About
              </a>
            </li>
                    
    	  <!-- TODODB: Implement? -->
      <!-- {% if site.theme.rss %}
      <li>
      	<a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" title="{{ site.theme.str_rss_follow }}">
      		<i class="fa fa-fw fa-rss"></i>
      	</a>
      </li>
      {% endif %} -->

      <li>
      	<a href="https://github.com/daniel-beard" title="Follow on GitHub">
          <i class="fab fa-github"></i>
      	</a>
      </li>

      <li>
      	<a href="https://www.linkedin.com/in/daniel-beard-17577134/" title="Follow on LinkedIn">
      		<i class="fab fa-fw fa-linkedin"></i>
      	</a>
      </li>

      <li>
      	<a href="https://stackoverflow.com/users/1144632/danielbeard" title="Follow on Stack Exchange">
      		<i class="fab fa-fw fa-stack-exchange"></i>
      	</a>
      </li>
        </ul>
      </nav>
    </header>
    <div class="home">
        <!-- TODODB: -->
    <!-- <div class="call-out"  -->
    <!-- style="background-image: url('{{ site.baseurl }}/{{ site.theme.header_text_feature_image }}')"> -->
    <div class="call-out">
        iOS and other stuff
    </div>
    
    <div class="posts">
                <div class="post-teaser">
        <header>
            <h1>
            <!-- //TODODB: Not correct, hardcoded for now -->
            <a class="post-link" href="../posts/smoothing-terrain">
                Smoothing Terrain
            </a>
            </h1>
            <p class="meta">
                2010-08-07
            </p>
        </header>
        <div class="excerpt">
            <p>The terrain generated in the last post was quite bumpy, what if I
            want smooth rolling hills or something that isn't quite so bumpy. There
            are two options here - you can either play around with the
            diamond-square weights and method of generating the terrain or you can
            smooth the result. The method I have chosen is a mean (average) filter
            also known as a box filter. The filter works by moving a square (say
            3x3) across the terrain values taking the average of the pixels
            surrounding it to give the center value an averaged result.</p>
            <!-- TODODB: Link not correct, hardcoded for now -->
            <a class="button" href="../posts/smoothing-terrain">
              Continue reading
            </a>
        </div> 
        </div>
                <div class="post-teaser">
        <header>
            <h1>
            <!-- //TODODB: Not correct, hardcoded for now -->
            <a class="post-link" href="../posts/anti-aliased-raytracing">
                Anti-Aliased Raytracing
            </a>
            </h1>
            <p class="meta">
                2010-08-03
            </p>
        </header>
        <div class="excerpt">
            <p>I added anti-aliasing to the rendering of the ray tracer. At first I
            tried regular sampling which is breaking a pixel down into smaller
            sub-pixels and shooting rays through the center of those pixels and
            averaging the result. This was better than nothing but still created
            some artifacts when rendering. The next trial was random sampling to
            replace aliasing with noise, but the samples can become clumped together
            and look unnatural. The method that I have settled on for now is
            jittered sampling which consists of breaking the target pixel down into
            sub-pixels and shooting rays at a random position through the sub-pixels
            so that each sub-pixels has at least one ray shot through it. Changing
            the amount of samples per pixel reduces the aliasing effect.</p>
            <!-- TODODB: Link not correct, hardcoded for now -->
            <a class="button" href="../posts/anti-aliased-raytracing">
              Continue reading
            </a>
        </div> 
        </div>
                <div class="post-teaser">
        <header>
            <h1>
            <!-- //TODODB: Not correct, hardcoded for now -->
            <a class="post-link" href="../posts/raytracing-svn">
                Raytracing SVN
            </a>
            </h1>
            <p class="meta">
                2010-07-29
            </p>
        </header>
        <div class="excerpt">
            <p>Just a quick update, my raytracing project - SimpleRTracer is now
            available on sourceforge at this address - <a
            href="https://simplertracer.sourceforge.net">https://simplertracer.sourceforge.net</a></p>
            <!-- TODODB: Link not correct, hardcoded for now -->
            <a class="button" href="../posts/raytracing-svn">
              Continue reading
            </a>
        </div> 
        </div>
                <div class="post-teaser">
        <header>
            <h1>
            <!-- //TODODB: Not correct, hardcoded for now -->
            <a class="post-link" href="../posts/svn-of-owls-h1-project">
                SVN of Owls-H1 Project
            </a>
            </h1>
            <p class="meta">
                2010-07-27
            </p>
        </header>
        <div class="excerpt">
            <p>Just thought I should update that the svn of my Astronomy work is
            live at <a
            href="https://owls-h1.sourceforge.net">https://owls-h1.sourceforge.net</a></p>
            <!-- TODODB: Link not correct, hardcoded for now -->
            <a class="button" href="../posts/svn-of-owls-h1-project">
              Continue reading
            </a>
        </div> 
        </div>
                <div class="post-teaser">
        <header>
            <h1>
            <!-- //TODODB: Not correct, hardcoded for now -->
            <a class="post-link" href="../posts/particle-system">
                Particle System
            </a>
            </h1>
            <p class="meta">
                2010-07-25
            </p>
        </header>
        <div class="excerpt">
            <p>Today I was kind of bored so I decided to write a simple particle
            system in XNA. The helpful tutorials over at <a
            href="https://rbwhitaker.wikidot.com/"
            class="uri">https://rbwhitaker.wikidot.com/</a> helped point me in the
            right direction. This particle system is very primitive at the moment, a
            particle emitter follows the mouse around the window. When I get the
            time (or the motivation) I am going to add a few more features such as
            different particles (smoke, water, fire, etc.), some different effects
            like attraction and repulsion and maybe the option to place multiple
            emitters in the scene.</p>
            <!-- TODODB: Link not correct, hardcoded for now -->
            <a class="button" href="../posts/particle-system">
              Continue reading
            </a>
        </div> 
        </div>
                <div class="post-teaser">
        <header>
            <h1>
            <!-- //TODODB: Not correct, hardcoded for now -->
            <a class="post-link" href="../posts/raytracing">
                Raytracing
            </a>
            </h1>
            <p class="meta">
                2010-07-24
            </p>
        </header>
        <div class="excerpt">
            <p>Since I got my new laptop, I have been working on a personal project
            creating a simple, easily extendable raytracer.</p>
            <!-- TODODB: Link not correct, hardcoded for now -->
            <a class="button" href="../posts/raytracing">
              Continue reading
            </a>
        </div> 
        </div>
                <div class="post-teaser">
        <header>
            <h1>
            <!-- //TODODB: Not correct, hardcoded for now -->
            <a class="post-link" href="../posts/terrain-loader-heightmap">
                Terrain Loader - Heightmap
            </a>
            </h1>
            <p class="meta">
                2010-07-24
            </p>
        </header>
        <div class="excerpt">
            <p>This program is an older OpenGL based terrain loader. The program
            loads in a greyscale heightmap and generates the terrain based on height
            values stored in the image. This version uses the DevIL image library
            which allows it to load a wide variety of file formats. Several textures
            are loaded, these include the ground texture, the detail texture and the
            water texture. A simple method of creating a water plane is to create a
            plane at a certain level for example a y axis height of -10, then
            animate the UV coordinates of the plane so that the water appears to
            move.</p>
            <!-- TODODB: Link not correct, hardcoded for now -->
            <a class="button" href="../posts/terrain-loader-heightmap">
              Continue reading
            </a>
        </div> 
        </div>
                <div class="post-teaser">
        <header>
            <h1>
            <!-- //TODODB: Not correct, hardcoded for now -->
            <a class="post-link" href="../posts/gimic-output-video">
                GIMIC Output Video
            </a>
            </h1>
            <p class="meta">
                2010-07-24
            </p>
        </header>
        <div class="excerpt">
            <p>Just a quick update, the video in this post shows some of the work I
            have been doing for the International Centre for Radio Astronomy
            Research. This video consists of 951 frames, each frame is a 3d volume
            that has been calculated from the GIMIC data set. The volumes are then
            rendered out from Drishti with a rainbow colour table.</p>
            <!-- TODODB: Link not correct, hardcoded for now -->
            <a class="button" href="../posts/gimic-output-video">
              Continue reading
            </a>
        </div> 
        </div>
                <div class="post-teaser">
        <header>
            <h1>
            <!-- //TODODB: Not correct, hardcoded for now -->
            <a class="post-link" href="../posts/academic-reports">
                Academic Reports
            </a>
            </h1>
            <p class="meta">
                2010-07-24
            </p>
        </header>
        <div class="excerpt">
            <p>The following reports are both about the visualisation pipeline that
            I developed when working for ICRAR (International Centre for Radio
            Astronomy Research).</p>
            <!-- TODODB: Link not correct, hardcoded for now -->
            <a class="button" href="../posts/academic-reports">
              Continue reading
            </a>
        </div> 
        </div>
                <div class="post-teaser">
        <header>
            <h1>
            <!-- //TODODB: Not correct, hardcoded for now -->
            <a class="post-link" href="../posts/cubic-images-to-skyboxes">
                Cubic Images to Skyboxes
            </a>
            </h1>
            <p class="meta">
                2010-02-01
            </p>
        </header>
        <div class="excerpt">
            <p>I often have the need to transform cubic images into a cube map or
            skybox, so I have written this program in python to create them quickly
            and easily.</p>
            <!-- TODODB: Link not correct, hardcoded for now -->
            <a class="button" href="../posts/cubic-images-to-skyboxes">
              Continue reading
            </a>
        </div> 
        </div>
                <div class="post-teaser">
        <header>
            <h1>
            <!-- //TODODB: Not correct, hardcoded for now -->
            <a class="post-link" href="../posts/ivec-internship">
                iVec Internship
            </a>
            </h1>
            <p class="meta">
                2010-01-26
            </p>
        </header>
        <div class="excerpt">
            <p>I am currently working as an iVec intern on the Visualizing Galaxy
            Simulations project. The project involves taking cosmological simulation
            data stored in .hdf5 files and converting point, mass, h1 mass data into
            a volumetric 3d density representation of h1 hydrogen gas. I am using
            Smoothed Particle Hydrodynamics to calculate the density contributions
            of nearby points.</p>
            <!-- TODODB: Link not correct, hardcoded for now -->
            <a class="button" href="../posts/ivec-internship">
              Continue reading
            </a>
        </div> 
        </div>
                <div class="post-teaser">
        <header>
            <h1>
            <!-- //TODODB: Not correct, hardcoded for now -->
            <a class="post-link" href="../posts/doom-md5-model-loader">
                Doom md5 Model Loader
            </a>
            </h1>
            <p class="meta">
                2009-06-20
            </p>
        </header>
        <div class="excerpt">
            <p>This code will load a doom md5 model with textures and animation. The
            source code for this application was adapted from <mark>( Link lost to
            time )</mark>. I do have a better version of this application but some
            of the features are not yet complete such as bump mapping and
            displacement mapping. I will upload the updated version at some point in
            the future when I have enough spare time to finish it.</p>
            <!-- TODODB: Link not correct, hardcoded for now -->
            <a class="button" href="../posts/doom-md5-model-loader">
              Continue reading
            </a>
        </div> 
        </div>
                <div class="post-teaser">
        <header>
            <h1>
            <!-- //TODODB: Not correct, hardcoded for now -->
            <a class="post-link" href="../posts/emptyproject">
                First Blog - Empty Project
            </a>
            </h1>
            <p class="meta">
                2009-05-15
            </p>
        </header>
        <div class="excerpt">
            <p>My name is Daniel Beard and I am a third year games programming
            student. I wanted a place to upload work that I have done and build a
            profile over time. Hopefully someone else will get some use or education
            from my programs.</p>
            <!-- TODODB: Link not correct, hardcoded for now -->
            <a class="button" href="../posts/emptyproject">
              Continue reading
            </a>
        </div> 
        </div>
            </div>
   
    <!-- Should conditionally hide this? -->
    <div class="pagination">
                <a href="../posts/index.html" class="button" >
        <i class="fa fa-chevron-left"></i>
          Previous Page
        </a>
                    </div>
    </div>
    <footer class="site-footer">
    	<p class="text">Blag - Powered by Haskell and Pandoc</p>
    </footer>
</body>
</html>
